---
title: 'Pokewalker Mini-TSV Finding Guide'
description: 'A guide that describes the process for finding the Mini TSV of a save file, a value which can be used in place of SID, for pokewalker RNGs. Part 7 of the original guide.'
slug: 'retail-minitsv-hgss-pokewalker'
subCategory: 'Pokewalker'
---
```
Note: Note: This guide assumes that you have in-depth knowledge of gen 4 retail RNG already. It is highly recommended that you have a Pokewalker Initial, Reseed, or Event RNG under your belt before you attempt this, and have access to Pokewalker event injection tools. 
 
```
## Required Tools
- Uhh
- Come
- Back
- To
- This
